<ion-header>
</ion-header>

<ion-content>
    <div class="restaurantes">
      <br>
      <h3>Taquerias de exelente servicio :D</h3>
      <div class="one-third-padding" id="services">
        <h3>Taqueria de cortes finos THE BRO</h3>
        <img src="./assets/img/Taqueriathebro.jpg" id="thebro">
        <p>tecmac, Av.ozumbilla entre Turquía y Portugal los héroes Tecamac Av. Ozumbilla entre Turquía y Portugal los héroes, 55764 Méx.</p>
        <a href="/tabs/tab6"><input type="button" value="Ordenar tacos"></a>
      </div>
      <br>
      <div class="one-third-padding">
        <h3>Taqueria  y Birrieria la Pasadita</h3>
        <img src="./assets/img/taqueriapasadita.jpg" alt="">
        <p>Calle Bosques de la India 1301, Los Heroes Tecamac, 55764 Ojo de Agua, Méx.</p>
        <a href="/tabs/tab6"><input type="button" value="Ordenar tacos"></a>
      </div>
      <div class="one-third-padding">
        <h3>Taqueria los paisas</h3><br>
        <img src="./assets/img/taqueriapaisas.jpg" id="paisas" width="100%">
        <p>Calle Ozumbilla Local1, Los Heroes Tecamac, 55764 Ojo de Agua, Méx.</p>
        <a href="/tabs/tab6"><input type="button" value="Ordenar tacos"></a>
      </div>
      <br>
      <br>
      <div class="one-third-padding">
        <h3>Taqueria cesar place</h3>
        <img src="./assets/img/taqueriacesar.jpg" alt="">
        <p>Faisanes, Izcalli Jardines, 55050 Ecatepec de Morelos, Méx.</p>
      <a href="/tabs/tab6"><input type="button" value="Ordenar tacos"></a>
      </div>
    </div>
</ion-content>
