<ion-header>
</ion-header>

<ion-content>
<body>
<div class="logincontainer">

    <img class="logoUber" src="./assets/img/tacologo3.jpg">
    <h1 class="titulo">Ventanilla</h1>
    <form>
        <label for="NombreUsuarioV">Nombre de la persona</label>
        <input type="text" placeholder="Nombre de la persona">

        <label for="CP">Codigo Postal</label>
        <input type="text" placeholder="Codigo Postal">
        <label for="ConstraseñaUsuarioP">Ingresar Numero de tarjeta</label>
        <input type="text" placeholder="XXXX XXXX XXXX XXXX">

        <label for="NumeroCelular">ingresar el CVC</label>
        <input type="password" placeholder="XXX">
        <a href="/tabs/tab3"><input type="button" value="Pagar"></a>
        <br>
        <br>
         <a href="/tabs/tab5">regresar</a>
    </form>
</div>
</body>
</ion-content>

