<ion-header>

</ion-header>

<ion-content>
<body>
<form class="contenedor"#form="ngForm"(submit)="suma()">
    <div class="button">
      <label >{{mensajes}}</label>  &nbsp; &nbsp;<input [(ngModel)]="numero1"  name="numero1"type="number" required="" value="0">
      <br>
      <label >{{mensajes1}}</label> &nbsp; <input [(ngModel)]="numero2"  name="numero2"type="number" required="" value="0">
      <br>
      <label >{{mensajes2}}</label> &nbsp; <input [(ngModel)]="numero3"  name="numero3"type="number" required="" value="0">
      <br>
      <label >{{mensajes3}}</label> &nbsp; &nbsp; &nbsp;<input [(ngModel)]="numero4"  name="numero4"type="number" required="" value="0">
      <br>
      <label >{{mensajes4}}</label> &nbsp; &nbsp;<input [(ngModel)]="numero5"  name="numero5"type="number" required="" value="0">
      <br>
      <label >{{mensajes5}}</label> &nbsp; &nbsp;<input [(ngModel)]="numero6"  name="numero6"type="number" required="" value="0">
      <br>
      <label >{{mensajes6}}</label> &nbsp; &nbsp;<input [(ngModel)]="numero7"  name="numero7"type="number" required="" value="0">
      <br>
      <label >{{mensajes7}}</label> &nbsp; &nbsp;<input [(ngModel)]="numero8"  name="numero8"type="number" required="" value="0">
      <br>
      <label >{{mensajes8}}</label> &nbsp; &nbsp;<input [(ngModel)]="numero9"  name="numero9"type="number" required="" value="0">
      <br>
      <label >{{mensajes9}}</label> &nbsp; &nbsp;<input [(ngModel)]="numero10"  name="numero10"type="number" required="" value="0">
      <br>
       <a href="/tabs/tab5">regresar</a>
      <br>
      <button id="enviar">Ordenar </button>
    </div>
</form>
</body>
</ion-content>
